body {
    background-color: #dcefff;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0097fe;
}

label {
    display: block;
    margin-top: 10px;
    color: #0097fe;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #0097fe;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0097fe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00caff;
}

p {
    text-align: center;
    color: #0097fe;
}

a {
    color: #0097fe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
